.loaderScreen
  position absolute
  top 0
  width 100%
  height 100%
  background-color #fff
  display flex
  flex-direction column
  justify-content center
  align-items center
  transition 0.55s opacity ease-out

  &__load
    padding 0
    color #0C7C59
    font-family Montserrat
    font-weight 200
    user-select none

  &__progressBar
    width 100%
    position absolute
    background-color #aaa
    display flex
    &:first-child
      top 0
      justify-content flex-start
    &:last-child
      bottom 0
      justify-content flex-end

  &__progress
    width 0px
    height 6px
    background-color #0C7C59
    transition 0.32s ease-out width
